.App {
  /* width: 320px; */
  text-align: center;
}

.label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.input {
  width: 240px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 3px 0px 14px -1px #000000;
  box-shadow: 3px 0px 14px -1px #000000;
}

.input:hover,
.input:focus {
  border: 2px solid rgb(153, 153, 153);
}

.phonebook-wrapper {
  /* padding: 15px;
  display: grid;
  grid-template-columns: 40% 60%;
  width: max-content; */
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.contact-form-wrapper,
.contacts-wrapper {
  width: 100%;
  padding: 20px 80px 20px 80px;
  -webkit-box-shadow: 5px 5px 10px 1px #000000;
  box-shadow: 5px 5px 10px 1px #000000;
}

.isHidden {
  display: none;
}
